[user]
	name = mtpauly
	email = peregrine.pauly@gmail.com

[core]
    editor = nvim

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    s = status
    c = commit
    d = diff
    aa = add .
    rs = restore --staged .

