[core]
    editor = nvim
    pager = delta

[merge]
    conflictstyle = diff3

[pager]
    blame = delta
    diff = delta
    reflog = delta
    show = delta

[delta]
    dark = true
    line-numbers = true
    side-by-side = true

[alias]
    s = status
    c = commit
    d = diff
    aa = add .
    rs = restore --staged .

[includeIf "gitdir:~/"]
    path = ~/.dotfiles-work/.gitconfig

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.dotfiles/.gitconfig-personal

