; include personal user and email by default
[include]
    path = ~/.dotfiles/.gitconfig-personal

[core]
    editor = nvim
    pager = delta

[merge]
    conflictstyle = diff3

[pager]
    blame = delta
    diff = delta
    reflog = delta
    show = delta

[delta]
    dark = true
    line-numbers = true
    side-by-side = true

[alias]
    s = status
    c = commit
    cm = commit -m
    ca = commit --amend
    ce = commit --amend --no-edit
    d = diff
    ds = diff --staged
    du = diff @{u}
    l = log --stat
    co = checkout
    cob = checkout -b
    a = add
    aa = add --all
    wl = worktree list
    wr = worktree remove
    wp = worktree prune
    rs = restore --staged .
    b = branch -vv
    bd = branch -d
    bdd = branch -D
    sl = stash list
    sp = stash pop
    sm = stash push -m
    ss = switch -

[commit]
    verbose = true

[init]
    defaultBranch = main

; if work config is defined, override the personal
[includeIf "gitdir:~/"]
    path = ~/.dotfiles-work/.gitconfig

; unless in the dotfiles directory
[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.dotfiles/.gitconfig-personal

